*{
    margin: 0;
}

:root{
    --yellow: #ffbe0b;
    --white: #ffffff;
    --black: #000000;
    --border-radius: 15px;
    --font-small: 20px;
    --font-medium: 25px;
    --font-large: 30px;
}

body{
     background-color: var(--yellow);
}

/* INDEX.HTML */
.hello{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/pregunta.jpg);
    background-repeat: repeat;
    /* background-size: cover; */
    height: 100vh;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: var(--border-radius);
    font-size: var(--font-large);
    font-family: Righteous, Times, sans-serif;
    height: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.title h2 {
    font-size: var(--font-medium);
    margin-right: 5px;
    margin-left: 5px;
}

.start-button{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px 45px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: var(--font-small);
    letter-spacing: 1px;
    font-weight: bolder;
    border-radius: var(--border-radius);
    background-color: #ffbe0b;
    color: var(--black);
    border: none;
    transition: transform 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.start-button:hover{
    transform: translateY(-5px);
    background-color: var(--black);
    color: var(--yellow);
}
.start-button:focus{
    background-color: var(--yellow);
    color: var(--black);
}

/* QUIZZ.HTML */

header{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 35px;
    margin: 0, auto;
    font-size: var(--font-medium);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--yellow);
    font-family: Righteous, Times, sans-serif;
    /* position: fixed;
    width: 100%;
    top: 0; */
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 8px;
    font-family: Hind Siliguri, Times, sans-serif;
    background-image: url(./assets/pregunta.jpg);
    background-repeat: repeat;
    border-radius: var(--border-radius);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
    width: 80%;
}

.questions-container{
    width: 70%;
    height:100%;
    color: var(--black);
    border-radius: var(--border-radius);
    /* background-color: rgba(247, 184, 1, 0.7); */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); */
    
}


p{
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px 25px;
    font-size: var(--font-medium);
    font-weight: bolder;
    color: var(--white);
    background-color: var(--black);
    border-radius: var(--border-radius);
    letter-spacing: 2px;
}

.question{
    text-align: center;
    margin-top: 25px;
}

.answers-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 25px;
}
.answers-container input[type="radio"]{
    display: none; 
}

label{
    cursor: pointer;
    padding: 15px 25px;
    text-align: center;
    margin-top: 15px;
    color:  var(--black);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    font-size: var(--font-small);
    font-weight: bold;
    transition: transform 0.3s;
}

label:hover{
    transform: translateY(-5px);
    background-color: var(--yellow);
    color: var(--black);
}

/* aplicar focus desde js */

.button{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px 45px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: var(--font-small);
    letter-spacing: 1px;
    font-weight: bolder;
    border-radius: var(--border-radius);
    background-color: #ffbe0b;
    color: var(--black);
    border: none;
    transition: transform 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.button:hover {
    transform: translateY(-5px);
    background-color: var(--black);
    color: var(--yellow);
}

.button:focus{
    background-color: var(--yellow);
    color: var(--black);
}

/* MEDIAQUERIES */

@media screen and (min-width: 768px) {
    .title{
        margin: 15px;
    }
    .title h1{
        text-align: center;
    }
}

@media screen and (min-width: 1366px){
    header{
        font-size: 40px;
    }
}
